node_modules/       # Ignore node modules folder - Huge + OS-specific

.npm/               # Ignore npm cache folder - (Cache) Can break installs

site-packages/	    # Ignore Python site-packages folder - Huge + OS/Platform-specific

vendor/             # Ignore (Composer) vendored dependencies - Huge + OS/Platform-specific

# Any token / API key	Security risk

temp/               # Ignore temp files - Can be large and OS-specific

tempCodeRunnerFile.*  # Ignore temp files created by code runners - Can be large and OS-specific

node_modules/
__pycache__/
dist/
.env